<%- include('partials/head.ejs') %>
<main class="container d-grid align-content-center justify-content-center" style="height: 70vh;">
    <div class="container-fluid">
        <div class="text-center my-5 col-6 mx-auto">
            Aplicación que utiliza Discord para ingresar a la aplicación, si no tiene una cuenta se puedes crear una y verificarla para nuevamente iniciar sesión en la aplicación
        </div>
        <div class="text-center">
            <a class="btn btn-primary" role="button" aria-disabled="true" href="/auth/login">
                Inicia sesión con Discord
            </a>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>